<?php if(!defined('IN_APP')) die();
/** 
 * YU Free Food
 * global.inc.php - Global init script
 *
 * @author Yudi Rosen <yudi42@gmail.com>
 * @package YU Free Food Website
 */
// 1) Load up our configuration, sessions, etc
session_start();

define('SITE_ROOT', dirname(__FILE__) . '/');

/* * * * * * * * * * * * * * * BEGIN CONFIGURATION SECTION * * * * * * * * * * * * * * */

$config = array(
	// Site configuration
	'site_url'        => 'http://site.com/yfood/',  // Site URL (include trailing slash!)
	'site_name'	      => 'yFood',	     		   	// Site title

	// MySQL Database configuration
	'db_hostname'	  => 'localhost',			  	// Database server hostname
	'db_username'	  => 'dbuser',			  	    // Database user name
	'db_password'	  => 'dbpassword',	            // Database password
	'db_database'	  => 'dbase',		  		    // Database name
	'db_prefix'	      => 'yf_',				  	    // Database table prefix

	// Misc.
	'error_reporting' => 'E_NONE',			 	    // Should be E_ALL for development, E_NONE for live site
);

/* * * * * * * * * * * * * * * END CONFIGURATION SECTION * * * * * * * * * * * * * * */

// Just in case you want to change these:
$config['include_folder']  = SITE_ROOT . 'includes/';
$config['template_folder'] = SITE_ROOT . 'template/';

// 2) Set up our environment:
$start_execution_time = microtime(true);

error_reporting($config['error_reporting']);

ini_set("include_path", $config['include_folder']);

// 3) Connect to the database, and get the DB auth data out of the way...
require_once('mysql.class.php');
$DB = new mysql($config['db_hostname'], $config['db_username'], $config['db_password'], $config['db_database']);

unset($config['db_hostname'], $config['db_username'], $config['db_password'], $config['db_database']);

// Make sure we're ready to go:
$db_err = $DB->error();
if($db_err['error_no']) {
	print_r($db_err);
	die();
}

// 3) Load up our additional objects:
require_once('user.class.php');
require_once('event.class.php');
require_once('csrf.class.php');

$User  = new user();
$Event = new event();
$csrf  = csrf::getCSRF();

$config['csrf']  = $csrf->getKey();

// 4) Start up our templating engine:
require_once('template.class.php');
$Template = new template();

// Ready!
?>